.accHeader{
    background: #d2d2d4;
    height: 38px;
    padding: 10px,10px,10px,10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 694px;
   
}
.style12 {
    width: 250% !important;

}