<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Chart of Accounts </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__breadcrumbs">
                <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
                    <i class="flaticon2-shelter"></i>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Manage</span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kt_tabs_3_1" role="tab"
                        aria-selected="false">Assets</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tabs_3_2" role="tab"
                        aria-selected="true">Liabilities and credit cards
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tabs_3_3" role="tab" aria-selected="true">Income
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tabs_3_4" role="tab" aria-selected="true">Expenses
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tabs_3_5" role="tab" aria-selected="true">Equity
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="kt_tabs_3_1" role="tabpanel">
                  <app-assets  (openAddAccountModal)="openAddAccountModal(addAccountModal,'1',$event)"></app-assets>
                </div>

                <div class="tab-pane" id="kt_tabs_3_2" role="tabpanel">
                  <app-liabilities-and-credit-cards (openAddAccountModal)="openAddAccountModal(addAccountModal,'2',$event)"></app-liabilities-and-credit-cards>
                </div>

                <div class="tab-pane" id="kt_tabs_3_3" role="tabpanel">
                   <app-income (openAddAccountModal)="openAddAccountModal(addAccountModal,'3',$event)"></app-income>
                </div>

                <div class="tab-pane" id="kt_tabs_3_4" role="tabpanel">
                   <app-expenses (openAddAccountModal)="openAddAccountModal(addAccountModal,'4',$event)"></app-expenses>
                </div>

                <div class="tab-pane" id="kt_tabs_3_5" role="tabpanel">
                   <app-equity (openAddAccountModal)="openAddAccountModal(addAccountModal,'5',$event)"></app-equity>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #addAccountModal let-modal>
   <app-add-new-account (closeAddAccountModal)="closeAddAccountModal()" (reloadAccounts)="reloadAccounts()" [accType]="accType" [accId]="accId"></app-add-new-account>
  </ng-template>

  

