<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <div class="kt-subheader__breadcrumbs">
                <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
                    <em class="flaticon2-shelter"></em>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a [routerLink]="['/item/manage']" class="kt-subheader__breadcrumbs-link">
                    Items & Services </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span>Detail</span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-md-12" *blockUI="'container-blockui'">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Item & Service Detail
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <button type="button" class="btn btn-outline-success btn-sm dropdown-toggle"
                                data-toggle="dropdown">
                                Action
                            </button>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__item">
                                        <a [routerLink]="['/item/edit', model.id]" class="kt-nav__link">
                                            <em class="kt-nav__link-icon la la-edit"></em>
                                            <span class="kt-nav__link-text"> Edit</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="delete()">
                                            <em class="kt-nav__link-icon la la-trash"></em>
                                            <span class="kt-nav__link-text">
                                                Delete
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body" *ngIf="isModelLoaded">
                        <div class="row">
                            <!-- <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Item Type:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.itemTypeName}}</p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Item/Service Name:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Rate:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.rate | currency}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Description:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                              <div class="form-group row">
                                  <label class="col-3 m-t-10">Tax Applicability:</label>
                                  <div class="col-9">
                                      <div class="kt-radio-inline"></div>
                                      <label class="kt-radio">
                                          <input type="radio" name="taxApplicability" value="1"
                                              [(ngModel)]="model.isTaxable" disabled>
                                          Taxable
                                          <span></span>
                                      </label>
                                      <label class="kt-radio ml-2">
                                          <input type="radio" name="taxApplicability" value="0"
                                              [(ngModel)]="model.isTaxable" disabled> Non
                                          Taxable
                                          <span></span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                          </div>
                          <div class="row" *ngIf='model.isTaxable==1'>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Tax:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.taxCode}}</p>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="row" *ngIf='model.isForSell==1'>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Income Account:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">Income account</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="row" *ngIf='model.isForSell==0'>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Expense Account:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">Expense account</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions text-right">
                            <a [routerLink]="['/item/manage']" class="btn btn-outline-secondary m-r-5">
                                <i class="la la-arrow-left"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>