<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-subheader__main">
        <div class="kt-subheader__breadcrumbs">
          <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
            <em class="flaticon2-shelter"></em>
          </a>
          <span class="kt-subheader__breadcrumbs-separator"></span>
          <a [routerLink]="['/quotation/manage']" class="kt-subheader__breadcrumbs-link">
            Quotation </a>
          <span class="kt-subheader__breadcrumbs-separator"></span>
          <span>Edit</span>
        </div>
      </div>
      <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
        </div>
      </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
      <div class="row">
        <div class="col-md-12" *blockUI="'container-blockui'">
          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Edit Quotation
                </h3>
              </div>
            </div>
            <form class="kt-form form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"
              novalidate>
              <div class="kt-portlet__body">
                <div class="row">


                  <div class="col-4">
                    <div class="form-group row"
                    [ngClass]="{ 'validation-error' : f.submitted && customerId.invalid}">
                    <label class="col-md-3">Quotaion#:</label>
                    <div class="col-md-9">
                      <input type="text" name="qutnumber" class="form-control" autocomplete="off"
                      [(ngModel)]="model.quotationNumber" maxlength="100" placeholder=""
                      appAlphaNumericsLevelTwo readonly />
                    </div>
                </div>
                      <div class="form-group row"
                          [ngClass]="{ 'validation-error' : f.submitted && customerId.invalid}">
                          <label class="col-md-3">Customer:*</label>
                          <div class="col-md-9">
                              <ngx-select-dropdown  name="customerId" #customerId="ngModel" (change)="getCustomerDetailOnSelect()" [multiple]="false" [(ngModel)]="selectedCustomer" [config]="config" [options]="customers"></ngx-select-dropdown>
                          </div>
                          <!-- <button type="button"
                              class="btn btn-outline-success btn-elevate btn-icon btn-sm m-l-5"
                              (click)="openCustomerModal(addCustomerModal)">
                              <i class="la la-plus"></i></button> -->
                      </div>



                      
                  </div>

                  <div class="col-4">
                      <div class="form-group row"
                          [ngClass]="{ 'validation-error' : f.submitted && customerId.invalid}">
                          <label class="col-md-3">Date:*</label>
                          <div class="col-md-9">
                              
                              <div class="input-group">
                                  <input class="form-control" name="quotationDate"
                                      #quotationDate="ngModel" [(ngModel)]="quotDate"
                                      ngbDatepicker #d="ngbDatepicker" (dateSelect)="changeQuotDate()"  readonly />
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar"
                                          (click)="d.toggle()" type="button">
                                          <i class="la la-calendar"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-md-3 kt-portlet__label">Expires on:</label>
                          <div class="col-md-9">
                              <div class="input-group">
                                  <input class="form-control" name="quotationExpireDate"
                                      #quotationExpireDate="ngModel"
                                      [(ngModel)]="expireDate" ngbDatepicker (dateSelect)="changeExpire()"
                                      #d1="ngbDatepicker" [autoClose]=" true" readonly />
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar"
                                          (click)="d1.toggle()" type="button">
                                          <i class="la la-calendar"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-4">

                      <div class="form-group row">
                          <label class="col-md-3 kt-portlet__label">P.O/S.O:</label>
                          <div class="col-md-9">
                              <input type="text" name="poso" class="form-control" autocomplete="off"
                                  [(ngModel)]="model.poSoNumber" maxlength="100" placeholder=""
                                  appNumbersOnly />

                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-md-3 kt-portlet__label">Memo:</label>
                          <div class="col-md-9">
                              <textarea name="remark" class="form-control" rows="2" maxlength="250"
                                  autocomplete="off" [(ngModel)]="model.memo" #remark="ngModel"
                                  appAlphaNumericsLevelTwo></textarea>
                          </div>
                      </div>

                   

                  </div>

                  <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-md-3 kt-portlet__label">Phone:</label>
                        <div class="col-md-9">
                            <p class="kt-portlet__data">{{model.phone | mask: '000-000-0000'}}</p>
                        </div>
                      </div>
                    </div>
                      
                      <div class="col-md-4">
                        <div class="form-group row">
                        <label class="col-md-3 kt-portlet__label">Email:</label>
                        <div class="col-md-9">
                            <p class="kt-portlet__data">{{model.email}}</p>
                        </div>
                        </div>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="form-group row">
                        <label class="col-md-3 kt-portlet__label">Discount:</label>
                        <div class="col-md-9">
                            <p class="kt-portlet__data" *ngIf="customer.discount">{{customer.discount}}%
                            </p>
                        </div>
                      </div>
                        
                    </div>

                   
              </div>
                <div class="row">
                  <div class="col-12">
                    <span class="kt-font-bolder">Items/Services</span>
                                      <div class="kt-separator m-t-5">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <app-item-selected [selectedItems]="selectedItems" [isForSale]="isForSale" [customerDiscount]="customerDiscount" [itemId]="itemId" [selectedTax]="selectedTax" (updateTotalAmount)="updateTotalAmount()" [readOnly]="false" (deleteItem)="deleteItem($event)">
                    </app-item-selected>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group text-right">
                      <button type="button" class="btn btn-sm btn-outline-success" (click)="newRow()">
                        <i class="la la-plus"></i> Add More</button>
                    </div>
                  </div>
                </div>
                <br>
                <div *ngIf='model.totalAmount'>
                  <div class="row">
                    <div class="col-12">
                      <span class="kt-font-bolder">Summary</span>
                      <div class="kt-separator m-t-5">
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && remark.invalid}">
                        <label class="col-md-3">Description :</label>
                        <div class="col-md-9">
                          <textarea name="remark" class="form-control" rows="2" maxlength="250" autocomplete="off"
                            [(ngModel)]="model.remark" #remark="ngModel" appAlphaNumericsLevelTwo></textarea>
                          <div class="validation-error-message" *ngIf="f.submitted && remark.invalid">
                            Description is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                        <table class="table" id="my-table">
                          <tbody>
                            <tr><td>Sub Total:</td><td class="Bold"><p class="kt-portlet__data">{{model.subTotal | currency}} </p></td></tr>
                            <tr><td>Total Discount:</td><td class="Bold"><p class="kt-portlet__data">{{model.discount | currency}} </p></td></tr>
                            <tr><td>Tax:</td><td class="Bold"><p class="kt-portlet__data">{{model.tax | currency}} </p></td></tr>
                            <tr class="Bold totaoblock"><td>Total Amount:</td><td><p class="kt-portlet__data">{{model.totalAmount | currency}} </p></td></tr>
                          </tbody>
                        </table>
                      </div>
                   
                </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <span class="kt-font-bolder">Attachments</span>
                    <div class="kt-separator m-t-5">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="row" *ngFor="let item of model.attachments; index as $index">
                  <div class="col-12">
                    <div class="form-group row">
                      <div class="col-5">
                        <input type="text" name="title_{{$index}}" class="form-control" autocomplete="off"
                          [(ngModel)]="item.title" maxlength="100" placeholder="Title *" appAlphaNumericsLevelTwo />
                      </div>
                      <div class="col-6">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="invoiceAttachment"
                            (change)="onSelectFile($event, $index)" />
                          <label class="custom-file-label" for="invoiceAttachment">Select file</label>
                        </div>
                        <ngb-progressbar class="m-t-2" type="info" [value]="item.uploadedPercent" height="5px"
                          *ngIf="item.uploadedPercent < 100"></ngb-progressbar>

                      </div>
                      <div class="col-1">
                        <div class="text-right">
                          <i class="la la-trash m-t-7 fs-20 cursor-pointer" (click)="removeAttachment(item)"
                            *ngIf="model.attachments.length > 1 "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group text-right">
                      <button type="button" class="btn btn-sm btn-outline-success" (click)="addNewAttachment()">
                        <i class="la la-plus"></i> Add More</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="kt-portlet__foot">
                <div class="kt-form__actions text-right">
                  <a [routerLink]="['/Quotation/quotation-manage']" class="btn btn-outline-secondary m-r-5">
                    <i class="la la-arrow-left"></i> Back</a>
                  <button type="submit" class="btn btn-success">
                    <i class="la la-save"></i> Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #itemesModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Select Items/Services</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeItemesModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-item-selector [selectedItems]='selectedItems'></app-item-selector>
    </div>
    <div class="modal-footer">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-success" (click)="closeItemesModal()">
          <i class="la la-check"></i> Done
        </button>
      </div>
    </div>
  </ng-template>