<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <div class="kt-subheader__breadcrumbs">
                <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
                    <em class="flaticon2-shelter"></em>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a [routerLink]="['/invoice/manage']" class="kt-subheader__breadcrumbs-link">
                    Quotation </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span>Detail</span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-md-12" *blockUI="'container-blockui'">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Quotation Detail
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <button type="button" class="btn btn-outline-success btn-sm dropdown-toggle"
                                data-toggle="dropdown">
                                Action
                            </button>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__item" *ngIf="model.status === 0">
                                        <a [routerLink]="['/invoice/add', model.id]" class="kt-nav__link">
                                            <em class="kt-nav__link-icon la la-credit-card"></em>
                                            <span class="kt-nav__link-text"> Create Invoice</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="openPDF()">
                                            <em class="kt-nav__link-icon la la-print"></em>
                                            <span class="kt-nav__link-text"> Print Quotation</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item" *ngIf="model.status === 0">
                                        <a [routerLink]="['/Quotation/edit', model.id]" class="kt-nav__link">
                                            <em class="kt-nav__link-icon la la-edit"></em>
                                            <span class="kt-nav__link-text"> Edit</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="delete()">
                                            <em class="kt-nav__link-icon la la-trash"></em>
                                            <span class="kt-nav__link-text">
                                                Delete
                                            </span>
                                        </a>
                                        <!-- <a href="javascript:;" class="kt-nav__link" (click)="confirmDelete(ConfirmationModal)">
                                            <em class="kt-nav__link-icon la la-trash"></em>
                                            <span class="kt-nav__link-text">
                                                Delete
                                            </span>
                                        </a> -->

                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body" id="htmlData" #htmlData>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Quotation#:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.quotationNumber | uppercase}}</p>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Customer Name:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.customer.firstName}}
                                            {{model.customer.lastName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Phone:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.customer.phone}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Email:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.customer.email}}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Customer Discount:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data" *ngIf="model.customer.discount">
                                            {{model.customer.discount}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Created On:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">
                                            {{model.createdOn}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Status:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">
                                            <span class='kt-badge kt-badge--dark kt-badge--inline'
                                                *ngIf="model.status === 0">Pending</span>
                                            <span class='kt-badge kt-badge--success kt-badge--inline'
                                                *ngIf="model.status === 1">Paid</span>
                                            <span class='kt-badge kt-badge--danger kt-badge--inline'
                                                *ngIf="model.status === 2">Deleted</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Quotation Date:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.quotationDate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Expiry Date:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.expiryDate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <span class="kt-font-bolder">Items/Services</span>
                                <div class="kt-separator m-t-5">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 disableDiv">
                                <app-item-selected [selectedItems]="selectedItems" [itemId]="itemId" [selectedTax]="selectedTax"  [readOnly]="true">
                                </app-item-selected>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="kt-font-bolder">Summary</span>
                                <div class="kt-separator m-t-5">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group row">
                                    <label class="col-md-3 kt-portlet__label">Description:</label>
                                    <div class="col-md-9">
                                        <p class="kt-portlet__data">{{model.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                              <table class="table" id="my-table">
                                <tbody>
                                  <tr><td>Sub Total:</td><td class="Bold"><p class="kt-portlet__data">{{model.subTotal | currency}} </p></td></tr>
                                  <tr><td>Total Discount:</td><td class="Bold"><p class="kt-portlet__data">{{model.discount | currency}} </p></td></tr>
                                  <tr><td>Tax:</td><td class="Bold"><p class="kt-portlet__data">{{model.tax | currency}} </p></td></tr>
                                  <tr class="Bold totaoblock"><td>Total Amount:</td><td><p class="kt-portlet__data">{{model.totalAmount | currency}} </p></td></tr>
                                </tbody>
                              </table>
                              <!-- <div class="form-group row">
                                <label class="col-md-8 kt-portlet__label">Tax:</label>
                                <div class="col-md-4">
                                  <p class="kt-portlet__data">{{model.tax | currency}} </p>
                                </div>
                              </div>
          
                              <div class="form-group row">
                                <label class="col-md-8 kt-portlet__label">Total Discount:</label>
                                <div class="col-md-4">
                                  <p class="kt-portlet__data">{{model.discount | currency}} </p>
                                </div>
                              </div>
          
                              <div class="form-group row">
                                <label class="col-md-8 kt-portlet__label">Total Amount:</label>
                                <div class="col-md-4">
                                  <p class="kt-portlet__data">{{model.totalAmount | currency}} </p>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="kt-font-bolder">Attachments</span>
                                <div class="kt-separator m-t-5">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" *ngFor="let item of model.attachments; index as $index">
                                    <a [href]="item.fileUrl" target="_blank">
                                        <span class="m-r-5">{{($index + 1)}}.</span>
                                        {{item.title}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="model.attachments.length === 0">
                            <div class="col-12">
                                <div class="form-group">
                                    <p>No attachment found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions text-right">
                            <a [routerLink]="['/Quotation/quotation-manage']" class="btn btn-outline-secondary m-r-5">
                                <i class="la la-arrow-left"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #ConfirmationModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add Customer</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeConfirmationModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ConfirmationMessage}}
    </div>
    <div class="modal-footer">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-success" (click)="submit()">
                <i class="la la-check"></i> Yes
            </button>
            <button type="button" class="btn btn-success" (click)="closeConfirmationModal()">
                <i class="la la-check"></i> Cancel
            </button>
        </div>
    </div>
</ng-template>