<div class="row">
    <div class="form-group col-md-12">
        <button type="button" class="btn btn-sm btn-outline-success  pull-right" (click)="openAddAccountModal.emit()">
            <i class="la la-plus"></i> Add Account</button>
    </div>
</div>
<div *ngFor="let item of accountList">
    <div class="wv-table__row--header">
        <div class="wv-table__cell accHeader">{{item.accountTypeName}}</div>
    </div>
    <hr>
    <div class="row" *ngFor="let account of item.bankAccount">
        <div class="col-md-12">
            <div class="row"><div class="col-md-10">{{account.accountName}}</div> 
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">Acc Holder: {{account.accountHolderName}}<br/>Acc No:{{account.accountNumber}}</div>
                <div class="col-md-2" (click)="openAddAccountModal.emit(account.id)"><i class='fa fa-edit cursor-pointer m-r-3' title='Edit'></i></div>    
            </div>
        </div>
    </div>
    <hr>
</div>