<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <div class="kt-subheader__breadcrumbs">
                <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
                    <em class="flaticon2-shelter"></em>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span>Change Password</span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-md-8" *blockUI="'container-blockui'">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Change Password
                            </h3>
                        </div>
                    </div>
                    <form class="kt-form form-horizontal" name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm"
                        novalidate>
                        <div class="kt-portlet__body">
                            <div class="form-group row"
                                [ngClass]="{ 'validation-error' : f.submitted && currentPassword.invalid}">
                                <label class="col-md-3">Current Password:*</label>
                                <div class="col-md-9">
                                    <input type="password" name="currentPassword" class="form-control" minlength="6"
                                        maxlength="50" [(ngModel)]="model.currentPassword" #currentPassword="ngModel"
                                        appAnythingButSpace required />
                                    <div class="validation-error-message"
                                        *ngIf="f.submitted && currentPassword.invalid">
                                        <span *ngIf="currentPassword.errors.required">
                                            Current password is required
                                        </span>
                                        <span *ngIf="currentPassword.errors.minlength">
                                            Minimum 6 characters are required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                [ngClass]="{ 'validation-error' : f.submitted && newPassword.invalid}">
                                <label class="col-md-3">New Password:*</label>
                                <div class="col-md-9">
                                    <input type="password" name="newPassword" class="form-control" minlength="6"
                                        maxlength="50" [(ngModel)]="model.newPassword" #newPassword="ngModel"
                                        appAnythingButSpace required />
                                    <div class="validation-error-message" *ngIf="f.submitted && newPassword.invalid">
                                        <span *ngIf="newPassword.errors.required">
                                            New password is required
                                        </span>
                                        <span *ngIf="newPassword.errors.minlength">
                                            Minimum 6 characters are required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                [ngClass]="{ 'validation-error' : f.submitted && confirmPassword.invalid}">
                                <label class="col-md-3">Confirm Password:*</label>
                                <div class="col-md-9">
                                    <input type="password" name="confirmPassword" class="form-control" maxlength="50"
                                        [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
                                        appAnythingButSpace required />
                                    <div class="validation-error-message"
                                        *ngIf="f.submitted && confirmPassword.invalid">
                                        Confirm password is required
                                    </div>
                                    <div class="validation-error-message"
                                        *ngIf="f.submitted && newPassword.valid && confirmPassword.valid && model.newPassword !== model.confirmPassword">
                                        New password and confirm password does not matched
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>