
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
      
     
            <div class="kt-portlet__body kt-portlet__body--fit">
              <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white">
                <app-customer-form-wizard-aside [wizardStep]="wizardStep" (setWizardStep)="setWizardStep($event)">
                </app-customer-form-wizard-aside>
                <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper" *blockUI="'container-blockui'">
                  <div class="kt-form p-t-50" id="kt_form">
                    <app-customer-personal-detail [model]="model" (moveBackward)="prev()" (moveForward)="next()"
                      *ngIf="wizardStep === 1">
                    </app-customer-personal-detail>
                    <app-customer-address-detail [model]="model" (moveBackward)="prev()" (moveForward)="next()"
                      *ngIf="wizardStep === 2">
                    </app-customer-address-detail>
                    <app-customer-shippingaddress [model]="model" (moveBackward)="prev()" (moveForward)="next()"
                    *ngIf="wizardStep === 3">
                  </app-customer-shippingaddress>
                    <app-customer-payment-detail [model]="model" (moveBackward)="prev()" (moveForward)="next()"
                      *ngIf="wizardStep === 4">
                    </app-customer-payment-detail>
                    <app-customer-discount-detail [model]="model" (moveBackward)="prev()" (moveForward)="next()"
                      *ngIf="wizardStep === 5">
                    </app-customer-discount-detail>
                   
                  </div>
                </div>
              </div>
            </div>
         
    </div>
  
