<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
  <div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
      <div class="kt-subheader__breadcrumbs">
        <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
          <em class="flaticon2-shelter"></em>
        </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a [routerLink]="['/bank-account/manage']" class="kt-subheader__breadcrumbs-link">
          Bank Accounts </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <span>Edit</span>
      </div>
    </div>
    <div class="kt-subheader__toolbar">
      <div class="kt-subheader__wrapper">
      </div>
    </div>
  </div>
  <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
      <div class="col-md-7" *blockUI="'container-blockui'">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                Edit Bank Account
              </h3>
            </div>
          </div>
          <form class="kt-form form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"
            novalidate>
            <div class="kt-portlet__body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && accountNumber.invalid}">
                    <label class="col-md-3">Account#:*</label>
                    <div class="col-md-9">
                      <input type="text" name="accountNumber" class="form-control" maxlength="50" autocomplete="off"
                        [(ngModel)]="model.accountNumber" #accountNumber="ngModel" required appNumbersOnly />
                      <div class="validation-error-message" *ngIf="f.submitted && accountNumber.invalid">
                        Account number is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && bankName.invalid}">
                    <label class="col-md-3">Bank Name:*</label>
                    <div class="col-md-9">
                      <input type="text" name="bankName" class="form-control" maxlength="250" autocomplete="off"
                        [(ngModel)]="model.bankName" #bankName="ngModel" appAlphaNumericsLevelThree required />
                      <div class="validation-error-message" *ngIf="f.submitted && bankName.invalid">
                        Bank name is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group row"
                    [ngClass]="{ 'validation-error' : f.submitted && accountHolderName.invalid}">
                    <label class="col-md-3">Account Holder Name:*</label>
                    <div class="col-md-9">
                      <input type="text" name="accountHolderName" class="form-control" maxlength="250"
                        autocomplete="off" [(ngModel)]="model.accountHolderName" #accountHolderName="ngModel"
                        appAlphaNumericsLevelTwo required />
                      <div class="validation-error-message" *ngIf="f.submitted && accountHolderName.invalid">
                        Account holder name is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && branchName.invalid}">
                    <label class="col-md-3">Branch Name:*</label>
                    <div class="col-md-9">
                      <input type="text" name="branchName" class="form-control" maxlength="250" autocomplete="off"
                        [(ngModel)]="model.branchName" #branchName="ngModel" appAlphaNumericsLevelThree required />
                      <div class="validation-error-message" *ngIf="f.submitted && branchName.invalid">
                        Branch name is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && ifsc.invalid}">
                    <label class="col-md-3">IFSC:*</label>
                    <div class="col-md-9">
                      <input type="text" name="ifsc" class="form-control" maxlength="250" autocomplete="off"
                        [(ngModel)]="model.ifsc" #ifsc="ngModel" appAlphaNumericsOnly required />
                      <div class="validation-error-message" *ngIf="f.submitted && ifsc.invalid">
                        IFSC is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-portlet__foot">
              <div class="kt-form__actions text-right">
                <a [routerLink]="['/bank-account/manage']" class="btn btn-outline-secondary m-r-5">
                  <i class="la la-arrow-left"></i> Back</a>
                <button type="submit" class="btn btn-success">
                  <i class="la la-save"></i> Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>