<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-subheader__main">
        <div class="kt-subheader__breadcrumbs">
          <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
            <em class="flaticon2-shelter"></em>
          </a>
          <span class="kt-subheader__breadcrumbs-separator"></span>
          <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-link">
            Home </a>
          <span class="kt-subheader__breadcrumbs-separator"></span>
          <span>setting</span>
        </div>
      </div>
      <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
        </div>
      </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
      <div class="row">
        <div class="col-md-12" *blockUI="'container-blockui'">
          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Settings
                </h3>
              </div>
            </div>
            <form class="kt-form form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"
              novalidate>
              <div class="kt-portlet__body">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && firstName.invalid}">
                      <label class="col-md-3">First Name:*</label>
                      <div class="col-md-9">
                        <input type="text" name="firstName" class="form-control" maxlength="250" autocomplete="off"
                          [(ngModel)]="model.firstName" #firstName="ngModel" required />
  
                        <div class="validation-error-message" *ngIf="f.submitted && firstName.invalid">
                          First name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && lastName.invalid}">
                      <label class="col-md-3">Last Name:</label>
                      <div class="col-md-9">
                        <input type="text" name="lastName" class="form-control" maxlength="250" autocomplete="off"
                          [(ngModel)]="model.lastName" #lastName="ngModel"/>
                        <div class="validation-error-message" *ngIf="f.submitted && lastName.invalid">
                          Last name is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group row"
                      [ngClass]="{ 'validation-error' : f.submitted && email.invalid}">
                      <label class="col-md-3">Email:*</label>
                      <div class="col-md-9">
                        <input type="text" name="email" class="form-control" maxlength="250"
                          autocomplete="off" [(ngModel)]="model.email" #email="ngModel"
                          required />
                        <div class="validation-error-message" *ngIf="f.submitted && email.invalid">
                          Email is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && phoneNumber.invalid}">
                      <label class="col-md-3">Phone:</label>
                      <div class="col-md-9">
                        <input type="text" name="phoneNumber" class="form-control" maxlength="250" autocomplete="off"
                          [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" mask="000-000-0000" />
                        <div class="validation-error-message" *ngIf="f.submitted && phoneNumber.invalid">
                          Phone is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="kt-portlet__foot">
                <div class="kt-form__actions text-right">
                  <a [routerLink]="['/bank-account/manage']" class="btn btn-outline-secondary m-r-5">
                    <i class="la la-arrow-left"></i> Back</a>
                  <button type="submit" class="btn btn-success">
                    <i class="la la-save"></i> Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
          <div class="col-md-12" *blockUI="'container-blockui'">
            <div class="kt-portlet">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    Change Password
                  </h3>
                </div>
              </div>
              <form class="kt-form form-horizontal" name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm"
                novalidate>
                <div class="kt-portlet__body">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && currentPassword.invalid}">
                        <label class="col-md-3">Old Password:*</label>
                        <div class="col-md-9">
                          <input type="password" name="currentPassword" class="form-control" maxlength="250" autocomplete="off"
                            [(ngModel)]="changePasswordModel.currentPassword" #currentPassword="ngModel" required />
    
                          <div class="validation-error-message" *ngIf="f.submitted && currentPassword.invalid">
                            Old password is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group row"
                        [ngClass]="{ 'validation-error' : f.submitted && newPassword.invalid}">
                        <label class="col-md-3">New Password:*</label>
                        <div class="col-md-9">
                          <input type="password" name="newPassword" class="form-control" maxlength="250"
                            autocomplete="off" [(ngModel)]="changePasswordModel.newPassword" #newPassword="ngModel"
                            required />
                          <div class="validation-error-message" *ngIf="f.submitted && newPassword.invalid">
                            New password is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group row" [ngClass]="{ 'validation-error' : f.submitted && confirmPassword.invalid}">
                        <label class="col-md-3">Confirm Password:*</label>
                        <div class="col-md-9">
                          <input type="password" name="confirmPassword" class="form-control" maxlength="250" autocomplete="off"
                            [(ngModel)]="changePasswordModel.confirmPassword" #confirmPassword="ngModel" required />
                          <div class="validation-error-message" *ngIf="f.submitted && confirmPassword.invalid">
                            Confirm password is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions text-right">
                    <a [routerLink]="['/bank-account/manage']" class="btn btn-outline-secondary m-r-5">
                      <i class="la la-arrow-left"></i> Back</a>
                    <button type="submit" class="btn btn-success">
                      <i class="la la-save"></i> Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


  </div>