<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
            style="background-image: url(./assets/media//bg/bg-3.jpg);">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <a [routerLink]="['/']">
                            <h1>iClose ERP</h1>>
                        </a>
                    </div>
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Sign In To Continue</h3>
                        </div>
                        <form class="kt-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate
                            *blockUI="'container-blockui'">
                            <div class="form-group" [ngClass]="{ 'validation-error' : f.submitted && !userName.valid}">
                                <input type="text" name="userName" class="form-control" maxlength="250"
                                    autocomplete="off" placeholder="Username" [(ngModel)]="model.userName"
                                    #userName="ngModel" required />
                                <div class="validation-error-message" *ngIf="f.submitted && !userName.valid">
                                    Username is required
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'validation-error' : f.submitted && !password.valid}">
                                <input type="password" name="password" class="form-control" maxlength="50"
                                    autocomplete="off" placeholder="Password" [(ngModel)]="model.password"
                                    #password="ngModel" required />
                                <div class="validation-error-message" *ngIf="f.submitted && !password.valid">
                                    Password is required
                                </div>
                            </div>
                            <div class="kt-login__actions">
                                <button type="submit" class="btn btn-success btn-elevate kt-login__btn-primary">
                                    <i class="la la-sign-in"></i> Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>