<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <div class="kt-subheader__breadcrumbs">
                <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
                    <em class="flaticon2-shelter"></em>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a [routerLink]="['/sales-tax/manage']" class="kt-subheader__breadcrumbs-link">
                    Sales Tax </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span>Edit</span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-md-6" *blockUI="'container-blockui'">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Edit Sales Tax
                            </h3>
                        </div>
                    </div>
                    <form class="kt-form form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"
                        novalidate>
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row"
                                        [ngClass]="{ 'validation-error' : f.submitted && code.invalid}">
                                        <label class="col-md-3">Sales Tax Code:*</label>
                                        <div class="col-md-9">
                                            <input type="text" name="code" class="form-control" maxlength="50"
                                                autocomplete="off" [(ngModel)]="model.code" #code="ngModel" required
                                                appAlphaNumericsOnly />

                                            <div class="validation-error-message" *ngIf="f.submitted && code.invalid">
                                                Sales tax code is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row"
                                        [ngClass]="{ 'validation-error' : f.submitted && taxPercentage.invalid}">
                                        <label class="col-md-3">Tax:*</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="taxPercentage" class="form-control"
                                                    maxlength="6" autocomplete="off" [(ngModel)]="model.taxPercentage"
                                                    #taxPercentage="ngModel" appDecimalNumbersOnly required />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        %
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="validation-error-message"
                                                *ngIf="f.submitted && taxPercentage.invalid">
                                                Tax percentage is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row"
                                        [ngClass]="{ 'validation-error' : f.submitted && description.invalid}">
                                        <label class="col-md-3">Description:</label>
                                        <div class="col-md-9">
                                            <textarea name="description" class="form-control" maxlength="250" rows="2"
                                                autocomplete="off" [(ngModel)]="model.description"
                                                #description="ngModel" appAlphaNumericsLevelOne></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions text-right">
                                <a [routerLink]="['/sales-tax/manage']" class="btn btn-outline-secondary m-r-5">
                                    <i class="la la-arrow-left"></i> Back</a>
                                <button type="submit" class="btn btn-success">
                                    <i class="la la-save"></i> Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>